@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-brand-red: #D92323;
  --color-brand-black: #020202;
  --color-brand-gray: #333333;
}

body {
  font-family: var(--font-sans);
}
